* {
  border: none;
  border-radius: 0;
  font-family:
    CartographCF Nerd Font,
    sans-serif;
  font-weight: normal;
  font-size: 11px;
  min-height: 0;
  color: rgba(255, 255, 255, 1);
}

window#waybar {
  background: transparent;
  margin: 0 20px;
  color: rgba(255, 255, 255, 0.5);
  text-shadow:
    0px 0px 2px #000000,
    1px 1px 2px #000000;
}

#workspaces button {
  padding: 2px 5px 3px 5px;
  background: transparent;
}

#workspaces button.active {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
#workspaces button:hover {
  background: rgba(255, 255, 255, 0.1);
}

#clock {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 1);
  padding: 0 10px;
  border-radius: 10;
}

tooltip {
  box-shadow: 0px 0px 0px 1px #000000;
  border: 1px solid #444444;
}

tooltip * {
  background: transparent;
}

tooltip.background {
  background: rgba(34, 37, 38, 1);
  border-radius: 5px;
}

.drawer-child {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100;
}
